In [29]:
import numpy as np
import pandas as pd

Q1 = [2.0, np.nan, 6.0, 7.0, 3.0, 2.0]
#print(Q1)

Q2=np.nansum(Q1)

Q3 = pd.Series({0:4.0, 1:5.0, 2:2.0, 3:np.nan, 4:1.0, 5:np.nan}, dtype='float64')
#print(Q3)

Q4 = Q3.isna()

#Q5 = Q3.dropna()
Q5 = Q3[Q3.notnull()]
#print(Q5)

Q6 = Q3.fillna(100)
#print(Q6)
data={ 
 0: [4,5,6],
 1 : [2.0,np.nan,7.0],
 2 : [9.0,3.0,np.nan],
 3 : [1.0, np.nan,4.0],
 4 : [1.0,np.nan,4.0],
 5 : [8,2,3]
}

Q7=pd.DataFrame(data)
Q7.fillna(100, inplace=True)
#print(Q7)

Q8=pd.Series({0:4.0,1:5.0,2:2.0,3:np.nan,4:1.0,5:np.nan}, dtype='float64')
Q8.dropna(inplace=True)
#print(Q8)


data={ 
 0: [4,5,6],
 1 : [2.0,np.nan,7.0],
 2 : [9.0,3.0,np.nan],
 3 : [1.0, np.nan,4.0],
 4 : [1.0,np.nan,4.0],
 5 : [8,2,3]
}

Q9=pd.DataFrame(data)
Q9.dropna(inplace=True, axis=1 )





data={ 
  0: [4,5,6],
  1: [5.0,6.0,np.nan],
  2: [2.0,np.nan,7.0],
  3: [9.0, 3.0, np.nan],
  4: [1.0,np.nan,4.0],
  5: [8,2,3]
}
Q10=pd.DataFrame(data)
Q10.dropna(inplace=True)

Q11=pd.DataFrame(data)
Q11.dropna(inplace=True, thresh=5)

Q12=pd.DataFrame(data)
Q12[6]=np.nan
#print(Q12)

   0    1    2    3    4  5   6
0  4  5.0  2.0  9.0  1.0  8 NaN
1  5  6.0  NaN  3.0  NaN  2 NaN
2  6  NaN  7.0  NaN  4.0  3 NaN